<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Music School{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('students.index') }}">Students</a></li>
            <li><a href="{{ url_for('teachers.index') }}">Teachers</a></li>
            <li><a href="{{ url_for('courses.index') }}">Courses</a></li>
            <li><a href="{{ url_for('financial.index') }}">Financial</a></li>
        </ul>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
